.view {
    height: 100vh ;
    width: 100vw ;
    position: relative ;
    z-index: 0;
    display: flex;
    flex-direction: row;
}

.lottie {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 95vh;
}

.lottie:hover{
    cursor: pointer;
}