.NavBar {
    position: relative;
    width: 100vw;
    background-image: linear-gradient(rgb(93, 45, 226),#4A00E0);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

.NavBarTitle {
    margin: 0;
    padding: 10px;
}